[package]
name = "tf-demo-parser"
version = "0.1.0"
authors = ["Robin Appelman <robin@icewind.nl>"]
edition = "2018"

[lib]
name = "tf_demo_parser"
path = "src/lib.rs"

[[bin]]
name = "parse_demo"
path = "src/bin/main.rs"

[[bin]]
name = "all_test"
path = "src/bin/all_test.rs"

[dependencies]
bitstream_reader = { version = "0.7", path = "../../bitbuffer" }
num_enum = "0.4"
num-traits = "0.2"
enumflags2 = "0.6"
snap = "0.2"
serde = { version = "1.0", features = ["derive", "rc"] }
serde_json = "1.0"
serde_repr = "0.1"
err-derive = "0.2"
parse-display = "0.1"
main_error = "0.1.0"
jemallocator = { version = "0.3", optional = true }
better-panic = { version = "0.1", optional = true }
no-panic = { version = "0.1", optional = true }
rayon = "1.3.0"

[dev-dependencies]
pretty_assertions = "0.6"

[profile.release]
lto = true

[profile.dev]
opt-level = 2
